<?xml version="1.0"?>
<robot name="wsu_warrior">
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/warrior_base_with_pedal.stl"/>
            </geometry>
            <material name="green">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/warrior_base_with_pedal.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="75.0"/>
            <inertia ixx="0.125" ixy="0" ixz="0" iyy="0.125" iyz="0" izz="0.225"/>
        </inertial>
    </link>

    <!-- whole left wheel --> 
    <link name="left_steer_wheel_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/steer_wheel.stl"/>
            </geometry>
        <material name="blue">
            <color rgba="0.0 0.0 1.0 1"/>
        </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/steer_wheel.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.5"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
    </link>
    <joint name="left_steer_joint" type="continuous">
        <parent link="base_link"/>
        <child link="left_steer_wheel_link"/>
        <origin xyz="0 0.465 0" rpy="0 0 -1.0472"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="left_drive_wheel_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/drive_wheel.stl"/>
            </geometry>
            <material name="yellow">
                <color rgba="1.0 1.0 0.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/drive_wheel.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.5"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
    </link>
    <joint name="left_drive_wheel_joint" type="continuous">
        <parent link="left_steer_wheel_link"/>
        <child link="left_drive_wheel_link"/>
        <origin xyz="0 0 -0.15" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
    </joint>

    <!-- whole right wheel --> 
    <link name="right_steer_wheel_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/steer_wheel.stl"/>
            </geometry>
            <material name="green">
                <color rgba="0.0 1.0 0.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/steer_wheel.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.5"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
    </link>
    <joint name="right_steer_joint" type="continuous">
        <parent link="base_link"/>
        <child link="right_steer_wheel_link"/>
        <origin xyz="0 -0.465 0" rpy="0 0 -2.0944"/>
        <axis xyz="0 0 1"/>
    </joint>
    <link name="right_drive_wheel_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/drive_wheel.stl"/>
            </geometry>
            <material name="red">
                <color rgba="1.0 0.0 0.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/drive_wheel.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.5"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
    </link>
    <joint name="right_drive_joint" type="continuous">
        <parent link="right_steer_wheel_link"/>
        <child link="right_drive_wheel_link"/>
        <origin xyz="0 0 -0.15" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
    </joint>

    <!-- whole front wheel -->
    <link name="front_steer_wheel_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/steer_wheel.stl"/>
            </geometry>
        <material name="cyan">
            <color rgba="0.0 1.0 1.0 1"/>
        </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/steer_wheel.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.5"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
    </link>
    <joint name="front_steer_joint" type="continuous">
        <parent link="base_link"/>
        <child link="front_steer_wheel_link"/>
        <origin xyz="0.845 0 0" rpy="0 0 -1.5708"/>
        <axis xyz="0 0 1"/>
    </joint>    
    <link name="front_drive_wheel_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/drive_wheel.stl"/>
            </geometry>
            <material name="magenta">
                <color rgba="1.0 0.0 1.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find warrior_description)/meshes/drive_wheel.stl"/>
            </geometry>
        </collision>
         <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.5"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
    </link>
    <joint name="front_drive_wheel_joint" type="continuous">
        <parent link="front_steer_wheel_link"/>
        <child link="front_drive_wheel_link"/>
        <origin xyz="0 0 -0.15" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
    </joint>

    <!-- Pole link -->
    <link name="pole_link">
        <!-- <visual>
            <geometry>
                <cylinder length="0.9" radius="0.02"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 .8 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.9" radius="0.02"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="2.0"/>
            <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.02" iyz="0" izz="0.005"/>
        </inertial> -->
    </link>
    <joint name="base_to_pole" type="fixed">
        <parent link="base_link"/>
        <child link="pole_link"/>
        <origin xyz="0 0 0.9" rpy="0 0 0"/>
    </joint>

    <!-- LIDAR link -->
    <link name="lidar_link">
        <!-- <visual>
            <geometry>
                <cylinder length="0.08" radius="0.06"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.08" radius="0.06"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.005"/>
        </inertial> -->
    </link>
    <joint name="lidar_joint" type="fixed">
        <parent link="pole_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.36 0 0" rpy="0 0 0"/>
    </joint>
    <!-- lidar definitions for gazebo harmonic simulation -->
    <gazebo>
    <sensor type="ray" name="lidar_sensor">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>5.0</update_rate>
        <ray>
            <scan>
                <horizontal>
                    <samples>180</samples>
                    <resolution>1</resolution>
                    <min_angle>-3.14</min_angle>
                    <max_angle>3.14</max_angle>
                </horizontal>
            </scan>
            <range>
                <min>0.12</min>
                <max>5</max>
                <resolution>0.02</resolution>
            </range>
        </ray>
        <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_laser.so">
            <topicName>/scan</topicName>
            <frameName>lidar_link</frameName>
        </plugin>
    </sensor>
</gazebo>
<!-- Camera -->
</robot>