<?xml version="1.0"?>
<robot name="warrior" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="base_width" value="0.3"/>
    <xacro:property name="base_length" value="0.4"/>
    <xacro:property name="base_height" value="0.1"/>

    <xacro:property name="diff_wheel_radius" value="0.05"/>
    <xacro:property name="diff_wheel_width" value="0.02"/>
    <xacro:property name="diff_wheel_y" value="${(base_width/2) + (diff_wheel_width/2)}"/>
    
    <xacro:property name="caster_radius" value="0.04"/>
    <xacro:property name="caster_x" value="0.22"/>
    <xacro:property name="caster_y" value="0"/>
    <xacro:property name="caster_z" value="0.035"/>

    <xacro:include filename="$(find warrior_description)/urdf/inertial_macros.xacro"/>
    <xacro:include filename="$(find warrior_description)/urdf/diff_wheels.urdf.xacro"/>

    <!-- <xacro:include filename="$(find warrior_description)/urdf/sensors/lidar.xacro"/>
    <xacro:include filename="$(find warrior_description)/urdf/sensors/imu.xacro"/> -->


    <link name="base_link"> </link> 

    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="chassis">
        <visual>
        <origin xyz="-7.5 -7.25 0.1" rpy="0 0 0"/>            
        <geometry>
                <!-- <box size="${base_length} ${base_width} ${base_height}"/> -->
                <mesh filename="file://$(find warrior_description)/meshes/triangle_base_V4.stl"/>
            </geometry>
        </visual>

        <collision>
        <origin xyz="-7.5 -7.25 0.1" rpy="0 0 0"/>            
            <geometry>
                    <!-- <box size="${base_length} ${base_width} ${base_height}"/> -->
                <mesh filename="file://$(find warrior_description)/meshes/triangle_base_V4.stl" />
            </geometry>
        </collision>

        <xacro:inertial_box mass="1.0" x="${base_length}" y="${base_width}" z="${base_height}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <xacro:diff_wheel prefix="left" reflect="1" />
    <xacro:diff_wheel prefix="right" reflect="-1" />

    <link name="caster_wheel">
    <visual>
        <origin xyz="${caster_x} 0 ${caster_z}" rpy="0 0 0"/>  <!-- slightly below chassis -->
        <geometry>
        <sphere radius="${caster_radius}"/>  
        </geometry>
        <material name="grey">
            <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
    </visual>

    <collision>
        <origin xyz="${caster_x} 0 ${caster_z}" rpy="0 0 0"/>
        <geometry>
        <sphere radius="${caster_radius}"/>
        </geometry>
        <surface>
        <contact>
            <ode/>
        </contact>
        <friction>
            <ode mu="0.5" mu2="0.5"/>
        </friction>
        </surface>
    </collision>

    <inertial>
        <mass value="0.05"/>
        <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    </link>

    <!-- Fix the caster to the chassis -->
    <joint name="caster_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="caster_wheel"/>
        <origin xyz="${caster_x} 0 ${caster_z}" rpy="0 0 0"/>
    </joint>



<gazebo>
        <!-- Having a separate controller per joint -->
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
        <joint_name>left_wheel_joint</joint_name>
    </plugin>

    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
        <joint_name>right_wheel_joint</joint_name>
    </plugin>
<!-- 
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
        <joint_name>caster_wheel_joint</joint_name>
    </plugin> -->


    <!-- Publishes sensor_msgs/JointState to /joint_states -->
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <joint_name>left_wheel_joint</joint_name>
        <joint_name>right_wheel_joint</joint_name>
        <!-- <joint_name>caster_wheel_joint</joint_name> -->
    </plugin>
    
    </gazebo>
</robot>