<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find warrior_description)/xacro/swerve_module/constant.xacro"/>

  <!-- ========== Swerve Module Macro ========== -->
  <xacro:macro name="swerve_module" params="prefix initial_yaw">
    
    <!-- Slewing Plate Link -->
    <link name="${prefix}_slewing_plate_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi} 0 ${pi}"/>
        <geometry> 
          <mesh filename="file://$(find warrior_description)/meshes/slewing_plate.stl"/>
        </geometry>
        <material name="${slewing_plate_color}"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${pi} 0 ${pi}"/>
        <geometry>
          <mesh filename="file://$(find warrior_description)/meshes/slewing_plate.stl"/>
        </geometry>
      </collision>
      <xacro:wheel_inertia mass="${slewing_plate_mass}"/>
    </link>

    <!-- Steer Joint -->
    <joint name="${prefix}_steer_joint" type="continuous">
      <parent link="${prefix}_slewing_plate_link"/>
      <child link="${prefix}_steer_assembly_link"/>
      <origin xyz="${swerve_offset_to_plate}" rpy="0 0 ${initial_yaw}"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- Steer Link -->
    <link name="${prefix}_steer_assembly_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find warrior_description)/meshes/steer_assembly.stl"/>
        </geometry>
        <material name="${steer_assembly_color}"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find warrior_description)/meshes/steer_assembly.stl"/>
        </geometry>
      </collision>
      <xacro:wheel_inertia mass="${steer_assembly_mass}"/>
    </link>


     <!-- Drive Joint -->
    <joint name="${prefix}_drive_joint" type="continuous">
      <parent link="${prefix}_steer_assembly_link"/>
      <child link="${prefix}_drive_wheel_link"/>
      <origin xyz="${drive_wheel_offset}" rpy="${drive_rpy}"/>
      <axis xyz="${drive_axis}"/>
    </joint>


    <!-- Drive Wheel Link -->
    <link name="${prefix}_drive_wheel_link">
      <visual>
       <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find warrior_description)/meshes/drive_wheel.stl"/>
        </geometry>
        <material name="${drive_color}"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find warrior_description)/meshes/drive_wheel.stl"/>
        </geometry>
      </collision>
      <xacro:wheel_inertia mass="${wheel_mass}"/>
    </link>
    
  </xacro:macro>
</robot>