<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- ========== Camera Macro ========== -->
  <xacro:macro name="camera_macro" params="parent camera_name xyz rpy:='0 0 0' mass:=1.0">

  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 -${pi/2}"/>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/insta360_camera.stl"/>
      </geometry>
      <material name="light_grey">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="${pi/2} 0 -${pi/2}"/>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/insta360_camera.stl"/>
      </geometry>
    </collision>
    <inertial>
        <mass value="${mass}"/>
        <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.002"/>
    </inertial> 
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="${parent}"/>
    <child link="camera_link"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>

  <gazebo reference="camera_link">
    <material>Gazebo/GreyTransparent</material>
    <sensor name="${camera_name}" type="camera">
      <pose>0 0 0 0 0 0</pose>
      <update_rate>30</update_rate>
      <camera>
      <camera_info_topic>/camera/camera_info</camera_info_topic>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>

      <topic>/camera/image_raw</topic>
      <gz_frame_id>camera_link</gz_frame_id>

    </sensor>
  </gazebo>

  </xacro:macro>

</robot>