<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:macro name="gps_macro" params = "parent name xyz">
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="0 0 0" />
      <parent link="${parent}"/>
      <child link="${name}" />
    </joint>

    <link name="${name}">
    </link>

    <gazebo reference="${name}">
      <sensor name="${name}" type="navsat">
        <always_on>1</always_on>
        <update_rate>1</update_rate>
        <topic>navsat</topic>
        <gz_frame_id>${name}</gz_frame_id>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
