<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Gazebo colors -->
    <gazebo reference="base_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="left_steer_assembly_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="right_steer_assembly_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="front_steer_assembly_link">
        <material>Gazebo/Cyan</material>
    </gazebo>

    <gazebo reference="left_drive_wheel_link">
        <material>Gazebo/DarkGrey</material>
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="right_drive_wheel_link">
        <material>Gazebo/DarkGrey</material>
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="front_drive_wheel_link">
        <material>Gazebo/DarkGrey</material>
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="beacon_light_link">
        <material>Gazebo/Red</material>
        <ambient>1.0 0.5 0.0 1</ambient>
        <diffuse>1.0 0.5 0.0 1</diffuse>
        <specular>1.0 0.6 0.1 1</specular>
        <emissive>1.5 0.5 0.0 1</emissive>
    </gazebo>

</robot>