<?xml version="1.0"?>
<robot name="warrior_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========== Includes ========== -->
  <xacro:include filename="$(find warrior_description)/xacro/material.xacro"/>
  <xacro:include filename="$(find warrior_description)/xacro/swerve_module/swerve_module.xacro"/>
  <xacro:include filename="$(find warrior_description)/xacro/sensors/lidar.xacro"/>
  <xacro:include filename="$(find warrior_description)/xacro/sensors/camera.xacro"/>
  <xacro:include filename="$(find warrior_description)/xacro/sensors/imu.xacro"/>
  <xacro:include filename="$(find warrior_description)/xacro/sensors/gps.xacro"/>

  <!-- ========== Properties ========== -->
  <xacro:property name="front_rpy_offset" value="0 0 -${pi/2}"/>
  <xacro:property name="left_rpy_offset" value="0 0 ${pi/6}"/>
  <xacro:property name="right_rpy_offset" value="0 0 ${-pi/6 - pi}"/>

  <xacro:property name="front_xyz_offset" value="0.852889 0.002164 -0.3615845"/>
  <xacro:property name="left_xyz_offset" value="0.035531 0.474066 -0.3615845"/>
  <xacro:property name="right_xyz_offset" value="0.035468 -0.469762 -0.3615845"/>

  <xacro:property name="payload_xyz_offset" value="0.433705 -0.098151 -0.155475"/>
  <xacro:property name="payload_rpy_offset" value="${pi/2} -${pi} -${pi/2}"/>
  <xacro:property name="payload_mass" value="9.5"/>

  <!-- Wheel properties -->
  <xacro:property name="wheel_mass" value="5.0"/>
  <xacro:property name="wheel_radius" value="0.025"/>

  <!-- Base properties -->
  <!-- <xacro:property name="base_mass" value="6.0"/> -->
  <xacro:property name="base_mass" value="25.0"/> 
  <xacro:property name="base_footprint_height" value="0.640773"/>
  
  <!-- Initial orientations (radians) -->
  <xacro:property name="front_initial_angle" value="${pi/2}"/>   <!-- forwarding -->
  <xacro:property name="left_initial_angle" value="-${pi/6}"/>    <!-- forwarding -->
  <xacro:property name="right_initial_angle" value="${pi/6 + pi}"/>  <!-- forwarding -->
  
  <!-- lidar properties -->
  <xacro:property name="pole_height" value="0.527"/>
  <xacro:property name="lidar_offset" value="0.135 -0.005 0.075"/>

  <!-- camera properties -->
  <xacro:property name="camera_offset" value="0.425 0.0 -0.015"/>

  <!-- ========== Base Footprint Link ========== -->
  <link name="base_footprint"/>
    
  <joint name="base_footprint_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 ${base_footprint_height}" rpy="0 0 0"/>
  </joint>

  <!-- ========== Base Link ========== -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/warrior_body.stl"/>
      </geometry>
      <!-- <material name="medium_gray"/> -->
      <material name="space_gray"/>

    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/warrior_body.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${base_mass}"/>
      <inertia ixx="0.125" ixy="0" ixz="0" iyy="0.125" iyz="0" izz="0.225"/>
    </inertial>
  </link>

  <!-- =================== Payload =================== -->
  <joint name="base_to_payload" type="fixed">
    <parent link="base_link"/>
    <child link="payload_link"/>
    <origin xyz="${payload_xyz_offset}" rpy="${payload_rpy_offset}"/>
  </joint>
  <link name="payload_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/payload.stl"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/payload.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${payload_mass}"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>

  <!-- ========== Instantiate Swerve Modules ========== -->

  <!-- Front Plate Joint -->
  <joint name="base_to_front_plate" type="fixed">
    <parent link="base_link"/>
    <child link="front_slewing_plate_link"/>
    <origin xyz="${front_xyz_offset}" rpy="${front_rpy_offset}"/>
  </joint>

  <!-- Front Swerve Module -->
  <xacro:swerve_module prefix="front" initial_yaw="${front_initial_angle}" />

  <!-- Left Plate Joint -->
  <joint name="base_to_left_plate" type="fixed">
    <parent link="base_link"/>
    <child link="left_slewing_plate_link"/>
    <origin xyz="${left_xyz_offset}" rpy="${left_rpy_offset}"/>
  </joint>

  <!-- Left Swerve Module -->
  <xacro:swerve_module prefix="left" initial_yaw="${left_initial_angle}" />

  <!-- Right Plate Joint -->
  <joint name="base_to_right_plate" type="fixed">
    <parent link="base_link"/>
    <child link="right_slewing_plate_link"/>
    <origin xyz="${right_xyz_offset}" rpy="${right_rpy_offset}"/>
  </joint>

  <!-- Right Swerve Module -->
  <xacro:swerve_module prefix="right" initial_yaw="${right_initial_angle}" />


  <!-- =================== Pole Link ==================== -->
  <link name="pole_link">
  </link>
  
  <joint name="base_to_pole" type="fixed">
    <parent link="base_link"/>
    <child link="pole_link"/>
    <origin xyz="0 0 ${pole_height}" rpy="${pi} 0 0"/>
  </joint>

  
  <!-- ========== LiDAR Sensor ========== -->
  <xacro:lidar_macro parent="pole_link" lidar_name="L1_lidar" 
                     xyz="${lidar_offset}" rpy="0 0 0" mass="0.5"/>

  <joint name="unilidar_imu_joint" type="fixed">
    <parent link="L1_lidar_link"/>
    <child link="unilidar_imu"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="unilidar_lidar_joint" type="fixed">
    <parent link="unilidar_imu"/>
    <child link="unilidar_lidar"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="unilidar_imu">
  </link>

  <link name="unilidar_lidar">
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_frame"/>
    <origin xyz="0.04 0 0" rpy = "0 0 0"/>
  </joint>

  <!-- ========== Camera Sensor ========== -->
  <xacro:camera_macro parent="pole_link" camera_name="insta360_camera" 
                      xyz="${camera_offset}" rpy="${pi} 0 0" mass="0.5"/>

  <!-- ========== GPS =========== -->
  <xacro:gps_macro parent="base_link" gps_name="gps_frame" xyz="0.04 0 0"/>
  <xacro:gps_macro parent="base_link" gps_name="gps1" xyz="0.76 0 0"/>

  <!-- ========== Beacon Light ========== -->
  <link name="beacon_light_link">
    <visual>
      <origin xyz="0 0 0" rpy="3.1415 0 0"/>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/beacon_light.stl"/>
      </geometry>
      <material name="warning_orange"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.1415 0 0"/>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/beacon_light.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>

  <joint name="base_to_beacon_light" type="fixed">
    <parent link="pole_link"/>
    <child link="beacon_light_link"/>
    <origin xyz="0.135 0.0 -0.022" rpy="0 0 0"/>
  </joint>

</robot>