<?xml version="1.0"?>
<robot name="warrior_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========== Includes ========== -->
  <xacro:include filename="$(find warrior_description)/xacro/material.xacro"/>
  <xacro:include filename="$(find warrior_description)/xacro/swerve_module/swerve_module.xacro"/>
  <xacro:include filename="$(find warrior_description)/xacro/sensors/lidar.xacro"/>
  <xacro:include filename="$(find warrior_description)/xacro/sensors/camera.xacro"/>


  <!-- ========== Properties ========== -->
  <xacro:property name="angle_offset" value="${pi/6}"/>

   <xacro:property name="front_plate_offset" value="0.838 0.003 -0.349"/>
   <xacro:property name="left_plate_offset" value="0.025 0.47 -0.349"/>
   <xacro:property name="right_plate_offset" value="0.024 -0.468 -0.349"/>

  <!-- Wheel properties -->
  <xacro:property name="wheel_mass" value="0.5"/>
  <xacro:property name="wheel_offset_z" value="-0.15"/>
  <xacro:property name="wheel_radius" value="0.1"/>

  <!-- Base properties -->
  <xacro:property name="base_mass" value="0.5"/>
  <xacro:property name="base_footprint_height" value="${0.508 + wheel_radius}"/>
  
  <!-- Initial orientations (radians) -->
  <xacro:property name="front_initial_angle" value="${pi/2}"/>   <!-- forwarding -->
  <xacro:property name="left_initial_angle" value="${pi/3}"/>    <!-- forwarding -->
  <xacro:property name="right_initial_angle" value="-${pi/3 + pi}"/>  <!-- forwarding -->
  
  <!-- lidar properties -->
  <xacro:property name="pole_height" value="0.527"/>
  <xacro:property name="lidar_offset_x" value="0.32"/>
  <xacro:property name="lidar_offset_z" value="0.005"/>

  <!-- camera properties -->
  <xacro:property name="camera_offset" value="0.32 0.0 -0.115"/>

  <!-- ========== Base Footprint Link ========== -->
  <link name="base_footprint"/>
    
  <joint name="base_footprint_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 ${base_footprint_height}" rpy="0 0 0"/>
      <!-- z = wheel_offset_z (0.15) + wheel_radius (0.1) = 0.25 -->
  </joint>

  <!-- ========== Base Link ========== -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/warrior_body.stl"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find warrior_description)/meshes/warrior_body.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${base_mass}"/>
      <inertia ixx="0.125" ixy="0" ixz="0" iyy="0.125" iyz="0" izz="0.225"/>
    </inertial>
  </link>

  <!-- ========== Instantiate Swerve Modules ========== -->

  <!-- Front Plate Joint -->
  <joint name="base_to_front_plate" type="fixed">
    <parent link="base_link"/>
    <child link="front_slewing_plate_link"/>
    <origin xyz="${front_plate_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Front Swerve Module -->
  <xacro:swerve_module prefix="front" initial_yaw="${front_initial_angle}" />

  <!-- Left Plate Joint -->
  <joint name="base_to_left_plate" type="fixed">
    <parent link="base_link"/>
    <child link="left_slewing_plate_link"/>
    <origin xyz="${left_plate_offset}" rpy="0 0 ${angle_offset}"/>
  </joint>

  <!-- Left Swerve Module -->
  <xacro:swerve_module prefix="left" initial_yaw="${left_initial_angle}" />

  <!-- Right Plate Joint -->
  <joint name="base_to_right_plate" type="fixed">
    <parent link="base_link"/>
    <child link="right_slewing_plate_link"/>
    <origin xyz="${right_plate_offset}" rpy="0 0 ${-angle_offset}"/>
  </joint>

  <!-- Right Swerve Module -->
  <xacro:swerve_module prefix="right" initial_yaw="${right_initial_angle}" />


  <!-- =================== Pole Link ==================== -->
  <link name="pole_link">
  </link>
  
  <joint name="base_to_pole" type="fixed">
    <parent link="base_link"/>
    <child link="pole_link"/>
    <origin xyz="0 0 ${pole_height}" rpy="${pi} 0 0"/>
  </joint>

  
  <!-- ========== LiDAR Sensor ========== -->
  <xacro:lidar_macro parent="pole_link" lidar_name="L1_lidar" 
                     xyz="${lidar_offset_x} 0 ${lidar_offset_z}" rpy="0 0 0" mass="0.5"/>


  <!-- ========== Camera Sensor ========== -->
  <xacro:camera_macro parent="pole_link" camera_name="insta360_camera" 
                      xyz="${camera_offset}" rpy="${pi} 0 0" mass="0.5"/>



</robot>